body {
    background: url('../images/basketball-court.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Impact', sans-serif;
    font-size: 3rem;
    color: #FF4500;
    /* Basketball orange */
    text-shadow: 2px 2px #000;
}

p {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #FF4500;
    /* Basketball orange */
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #E03C00;
}

.btn-secondary {
    background-color: #1E1E1E;
    color: #FF4500;
    border: none;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #333333;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
}

/* Adjusted Chartist.js styles */

.ct-series-a .ct-line {
    stroke: green;
    stroke-width: 3px;
    /* Reduced stroke width */
    /* Removed or adjusted stroke-dasharray */
    /* stroke-dasharray: 5px 5px; */
}

.ct-series-a .ct-point {
    stroke: green;
    stroke-width: 8px;
    /* Reduced stroke width */
    stroke-linecap: round;
    /* Changed from 'circle' to 'round' */
}

.ct-series-b .ct-line {
    stroke: blue;
    stroke-width: 3px;
    /* Reduced stroke width */
    /* Removed or adjusted stroke-dasharray */
    /* stroke-dasharray: 3px 3px; */
}

.ct-series-b .ct-point {
    stroke: blue;
    stroke-width: 8px;
    /* Reduced stroke width */
    stroke-linecap: round;
    /* Changed from 'circle' to 'round' */
}

/* Style for the hover card */
#hoverCard {
    position: absolute;
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#hoverCard.show {
    display: block;
    transition: opacity 0.2s ease;
}