<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="{{ url_for('static', filename='forms.css') }}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h1>Sign Up</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            <button type="submit">Sign Up</button>

            <a href="{{ url_for('login') }}" class="btn btn-secondary">Log In</a>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% set category, message = messages[-1] %} <!-- Display only the most recent message -->
                    <li class="{{ category }}">{{ message }}</li>
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>